table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #a3a5a7;
}

#auth_g {
    transition: all 1.2s ease-in-out;
}

#auth_f {
    transition: all 1.2s ease-in-out;
}

#auth_t {
    transition: all 1.2s ease-in-out;
}

#auth_l {
    transition: all 1.2s ease-in-out;
}

#auth_msg {
    text-align-last: center;
    transition: all 1.2s ease-in-out;
}

#login_button {
    text-align-last: center;
    transition: all 1.2s ease-in-out;
}

.job-heading {
    margin-top: 0;
}

.job-card {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.60);
    border-radius: 4px
}

.tracking-progress-bar {

    margin: 10px 0;
}

.tracking-progress-bar__item {

    background: #E5E7ED;
    border-radius: 50%;
    color: #768CAD;
    display: inline-block;
    font-family: sans-serif;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
    width: 31px;
    z-index: 9;
}

.tracking-progress-bar__item__bar {

    background: #E5E7ED;
    display: inline-block;
    margin: 0 -5px;
    height: 12px;
    width: 170px;
    z-index: 2;
}

.tracking-progress-bar__item__bar--active {

    background: #093782;
}

.tracking-progress-bar__item__bar--stopped {

    background: #820909;
}

.tracking-progress-bar__item--first {

    margin-left: 0;
}

.tracking-progress-bar__item--active {

    background: #093782;
    color: #fff;
}

.tracking-progress-bar__item--stopped {

    background: #820909;
    color: #fff;
}

#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
}
.image-circle {
    border-radius: 50%;
}
